@model Schrader.Eve.Models.MiningRunCapsuleer

<div style="position: relative; display:block; height: 200px;">
    <img src="@string.Format("http://image.eveonline.com/Character/{0}_200.jpg", Model.Pilot.CharacterId)" 
         style="float: left; border-radius: 15px;" />
    <div style="float:left; margin-left: 20px;">
        <h4 style="color: black;">@Model.Pilot.Name - @Model.Role</h4>
        <span>Participation Time: 37.5 hrs</span>
        <div style="position: absolute; left: 220px; bottom: 10px;">
            <img style="float:left;" src="http://image.eveonline.com/Type/17765_64.png" />
            <div style="float:left">
                Ship Name<br />
                Ship Type<br />
                Ship Class
            </div>
        </div>
    </div>
</div>
